/* Shared items */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 30px;
    /* background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%)); */
    background: #F948B2;
    padding: 15px 30px;
    border: 0;
    color: #FFF;
}

.btn-secondary {
    border-radius: 40px;
    background: #4EC5F7;
    /* background: lightgreen; */
    padding: 15px 30px;
    border: 0;
    color: #FFF;
}

/* Nav bar start */

.nav {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 100px;

}

.nav-gamer {
    display: flex;
    align-items: center;
}

.nav-gamer img {
    width: 70px;
    height: 40px;
}

.nav-gamer h3 {
    font-size: 30px;
    font-weight: 700;
}

.G {
    color: #F948B2;
    font-size: 50px;
}

.nav-items {
    padding-top: 15px;
}

.nav-items ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
}

.follow-us {
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: 450;
}

.follow-us img {
    width: 30px;
    height: 25px;
}

.nav-gamer:hover {
    cursor: pointer;
    border: 1px solid #bb98ad;
    /* border-radius: 2px; */
    padding: 10px;
}

.nav-items li:hover {
    cursor: pointer;
    border: 1px solid #bb98ad;
    /* border-radius: 30px; */
}

.nav-items .follow-us li:hover {
    cursor: pointer;
    border: none;
}

.follow-us:hover {
    cursor: pointer;
    border: 1px solid #bb98ad;
    /* border-radius: 30px; */
}

/* main part start from here */

.goat {
    display: flex;
}

.goat-play-like {
    width: 50%;
    /* padding-left: 120px; */
    padding-top: 100px;
}

.goat-play-like h2 {
    color: #0B0223;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    font-family: Work Sans;
    padding-bottom: 0;
    margin-bottom: 0;
}

.goat-play-like h1 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0;
    margin-top: 0;
}

.goat-img {
    width: 50%;
    padding-right: 120px;
}

.goat-img img {
    width: 100%;
    padding-top: 20px;
}

.goat-box {
    justify-content: center;
    padding-left: 130px;
    margin-top: 0;
    padding-top: 0;
}

.goat-box img {
    height: 24px;
    width: 24px;
    margin-right: 12px;
}

.goat-box small {
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.goat-box-1 {
    padding-bottom: 15px;
}

.goat-box-2 {
    padding-bottom: 15px;
}

.button {
    margin-left: 120px;
    margin-top: 50px;
    gap: 24px;
}

/* we are gamer section */

.we-are-gamer {
    display: flex;
    margin-top: 100px;
    gap: 50px;
    padding-left: 100px;
    padding-right: 120px;
}

.we-are-gamer-img img {
    width: 100%;
}

.we-are-gamer-img {
    width: 50%;
}

.we-are-gamer-element {
    width: 50%;
    text-align: right;
}

.text-style {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Online game start from here */

.online-game-description {
    margin-top: 100px;
    text-align: center;
}

.online-game-description h2 {
    margin-bottom: 0;
}

.online-game-description p {
    color: #534C64;
    font-size: 10px;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
}

.online-game-img {
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    gap: 20px;
}

.online-game-img img {
    width: 100%;
    height: 300px;
}

.hidden {
    width: 30px;
    height: 30px;
    position: relative;
    top: -230px;
    left: 800px;
    opacity: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.hidden p{
    color: red;
    font-size: 30px;
    font-weight: 700;
}

.hidden:hover {
    opacity: 1;
}

.online-game-box-3 img:hover{
    border: 5px solid tomato;
    opacity: 0.5;
}

/* Play instantly section start */

.play-instantly {
    display: flex;
    margin-top: 100px;
    padding-left: 200px;
    padding-right: 120px;
    gap: 50px;
}

.play-instantly-content {
    width: 50%;
    padding-right: 100px;
    padding-left: 70px;
    text-align: right;
    padding-top: 40px;
}

.play-instantly-img {
    width: 50%;
}

.play-instantly-img img {
    width: 100%;
}

.main-photo img {
    width: 434.833px;
    height: 450px;
}

.side-photo img {
    width: 200px;
    height: 240px;
    position: relative;
    bottom: 200px;
    right: 90px;
}

.play-instantly-content h2 {
    font-size: 48px;
    font-weight: 700;
}


/* Different game section start from here */

.different-game {
    margin-top: 50px;
    height: 427px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    margin-left: 120px;
    margin-right: 120px;
}

.five-game-box:hover {
    border: 1px solid tomato;
    border-radius: 30%;
}
.four-game-box:hover {
    border: 1px solid tomato;
    border-radius: 30%;
}

.five-game {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.four-game {
    display: flex;
    justify-content: space-around;
}

.five-game-box {
    display: flex;
}

.five-game-box p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
}

.four-game-box {
    display: flex;
}

.four-game-box p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
}



/* footer startb from here */

.footer{
    background: #0B0223;
    padding-top: 120px;
}
.footer-gamer{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.footer-gamer img{
    padding-top: 30px;
    height: 40px;
    width: 60px;
}
.footer-gamer h2{
    color: #FFF;
}
.footer-item ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-left: 25%;
    padding-right: 25%;
    color: #FFF;
}
.footer-icons{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 30%;
    padding-right: 30%;
}
.footer-term-condition{
    display: flex;
    color: #FFF;
    padding-top: 50px;
    justify-content: space-around;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 12px;
    font-weight: 200;
}
.copyright{
    color: #FFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}










/* Responsive For Mobile */

@media screen and (max-width: 576px) {
    .nav {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .nav-gamer {
        justify-content: center;
    }

    .follow-us {
        display: flex;
    }

    .goat {
        flex-direction: column;
    }

    .goat-play-like {
        width: 100%;
        padding-top: 100px;
        order: 2;
    }

    .goat-play-like h2 {
        font-weight: 400;
        font-size: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .goat-play-like h1 {
        text-align: center;
        font-size: 60px;
        font-weight: 700;
    }

    .goat-img {
        width: 100%;
        padding-right: 10px;
        order: 1;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
    }

    .goat-box {
        padding-left: 40px;
        margin-top: 0;
        padding-top: 0;
    }

    .button {
        display: flex;
        gap: 15px;
        margin-left: 40px;
        margin-top: 30px;
    }

    .we-are-gamer {
        flex-direction: column;
        margin-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .we-are-gamer-img {
        width: 100%;
        order: 1;
    }

    .we-are-gamer-img img {
        width: 100%;
    }

    .we-are-gamer-element {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .online-game-img {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
    }

    .online-game-img p {
        font-size: 10px;
        font-weight: 400;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 20px;
    }

    .play-instantly {
        flex-direction: column;
        margin-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        gap: 50px;
    }

    .play-instantly-content {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
        padding-top: 40px;
        order: 1;
    }

    .play-instantly-img {
        width: 100%;
        order: 2;
        padding-left: 40px;
    }

    .main-photo img {
        width: 234.833px;
        height: 250px;
    }

    .side-photo img {
        width: 140px;
        height: 140px;
        position: relative;
        bottom: 100px;
        right: 50px;
    }

    .play-instantly-content h2 {
        font-size: 30px;
        font-weight: 600;
    }
    .different-game {
        margin-left: 10px;
        margin-right: 20px;
    }
    .five-game{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 0;
    }
    .five-game img{
        height: 35px;
        width: 35px;
    }
    .five-game-box p {
        font-size: 12px;
        font-weight: 400;
    }
    .four-game{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .four-game img{
        height: 35px;
        width: 35px;
    }
    .four-game-box p {
        font-size: 12px;
        font-weight: 400;
    }
    #special-box{
        position: relative;
        bottom: 119px;
        left: 200px;
    }

    .footer{
        margin-top: 20px;
    }
    .footer-gamer img{
        height: 35px;
        width: 50px;
    }
    .footer-item ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 50px;
        padding-left: 20%;
        padding-right: 20%;
        gap: 30px;
    }
    .footer-icons img{
        height: 30px;
        width: 30px;
    }
    .footer-term-condition{
        justify-content: space-between;
        padding-left: 15%;
        padding-right: 15%;
        font-size: 12px;
        font-weight: 200;
    }

}

@media screen and (min-width: 576px) and (max-width: 920px) {
    .nav {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 100px;
    }

    .nav-gamer {
        justify-content: center;
        padding-right: 300px;
    }

    .follow-us {
        display: flex;
        width: 120px;
    }

    .goat {
        flex-direction: column;
    }

    .goat-play-like {
        width: 100%;
        padding-top: 100px;
        order: 2;
    }

    .goat-play-like h2 {
        font-weight: 400;
        font-size: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
        padding-right: 300px;
    }

    .goat-play-like h1 {
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        padding-right: 300px;
    }

    .goat-img {
        width: 45%;
        padding-right: 10px;
        order: 1;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
    }

    .goat-box {
        padding-left: 20px;
        margin-top: 0;
        padding-top: 0;
    }

    .button {
        display: flex;
        gap: 15px;
        margin-left: 40px;
        margin-top: 30px;
    }

    .we-are-gamer {
        flex-direction: column;
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .we-are-gamer-img {
        width: 30%;
        order: 1;
    }

    .we-are-gamer-img img {
        width: 300px;
    }

    .we-are-gamer-element {
        width: 100%;
        order: 2;
        text-align: left;
        font-size: 12px;
        font-weight: 200;
        width: 300px;
    }

    .online-game-img {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 20px;
        text-align: left;
    }

    .online-game-img img{
        width: 40%;
    }

    .online-game-img p {
        font-size: 10px;
        font-weight: 400;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 20px;
        text-align: left;
    }

    .online-game-description{
        text-align: center;
    }
    .online-game-description h2{
        font-size: 30px;
        font-weight: 400;
        width: 400px;
    }
    .online-game-description p{
        font-size: 12px;
        font-weight: 200;
        width: 400px;
    }

    .play-instantly {
        flex-direction: column;
        margin-top: 100px;
        padding-left: 20px;
        padding-right: 20px;
        gap: 50px;
    }

    .play-instantly-content {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        text-align: left;
        padding-top: 40px;
        order: 1;
    }

    .play-instantly-img {
        width: 100%;
        order: 2;
        padding-left: 40px;
    }

    .main-photo img {
        width: 234.833px;
        height: 250px;
    }

    .side-photo img {
        width: 140px;
        height: 140px;
        position: relative;
        bottom: 100px;
        right: 50px;
    }

    .play-instantly-content h2 {
        font-size: 25px;
        font-weight: 200;
        width: 400px;
    }

    .play-instantly-content p {
        width: 350px;
    }

    .different-game {
        margin-left: 10px;
        margin-right: 20px;
        width: 400px;
    }
    .five-game{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 0;
    }
    .five-game img{
        height: 35px;
        width: 35px;
    }
    .five-game-box p {
        font-size: 12px;
        font-weight: 400;
    }
    .four-game{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .four-game img{
        height: 35px;
        width: 35px;
    }
    .four-game-box p {
        font-size: 12px;
        font-weight: 400;
    }
    #special-box{
        position: relative;
        bottom: 75px;
        left: 0px;
    }

    .footer{
        margin-top: 20px;
        width: 400px;
    }
    .footer-gamer img{
        height: 35px;
        width: 50px;
    }
    .footer-item ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 50px;
        padding-left: 20%;
        padding-right: 20%;
        gap: 30px;
    }
    .footer-icons img{
        height: 30px;
        width: 30px;
    }
    .footer-term-condition{
        justify-content: space-between;
        padding-left: 15%;
        padding-right: 15%;
        font-size: 12px;
        font-weight: 200;
    }
}